:root {
	// collor
	--akcentnyy: #ffa55c;
	--akcentnyy-2: #ceaad0;
	--fonovyy: #ffe0cb;
	--fonovyy-svetlyy: #fff9f4;
	--zagolovochnyy: #1f1711;
	--nabornyy: #312c27;
	--fioletovyy: #704174;
	--disabled: #e1d9e1;
	--inputy: #ac907a;

	// container
	--container-padding: 15px;
	--container-width: 1280px;
}