<header class="header">
  <div class="header__top">
    <div class="container header__top-inner">
      <a href="/" class="header__logo">
        <img
          width="173"
          height="57"
          loading="lazy"
          src="./assets/images/icone/logo/logo-dark.svg"
          alt="Логотип компании Wake & Bake"
        />
      </a>
      <nav class="nav">
        <ul class="header__top-list">
          <li class="header__top-item">
            <a class="header__top-link text-p-default" href="#">
              Программа обучения
            </a>
          </li>
          <li class="header__top-item">
            <a class="header__top-link text-p-default" href="#"> Галерея </a>
          </li>
          <li class="header__top-item">
            <a class="header__top-link text-p-default" href="#"> Отзывы </a>
          </li>
          <li class="header__top-item">
            <a class="header__top-link text-p-default" href="#"> Контакты </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="header__hero">
    <div class="container header__hero-inner">
      <div class="header__hero-content">
        <div class="header__hero-info">
          <span>Старт</span>
          <span>26.06.2023</span>
        </div>
        <h1 class="header__hero-title heading-h1">
          Научись печь торты и десерты с нуля
        </h1>
        <p class="header__hero-text text-p-default">
          За 8 практических занятий ты получишь новые возможности
          для самореализации и любимое дело
        </p>
        <button class="header__hero-btn button__form">
          Записаться на курс
        </button>
      </div>
      <div class="header__hero-img">
        <img
          loading="lazy"
          width="377"
          height="454"
          src="./assets/images/girl-hero.png"
          alt="Дэвушка с тортом"
        />
        <div class="header__hero-img-control">
          <a class="header__hero-img-button" href="">
            <svg
              width="26"
              height="28"
              viewBox="0 0 26 28"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M23.6999 11.4017C25.6999 12.5564 25.7 15.4432 23.7 16.5979L5.39995 27.1634C3.39995 28.3181 0.899951 26.8747 0.899951 24.5653L0.899952 3.43429C0.899952 1.12489 3.39995 -0.318483 5.39995 0.836217L23.6999 11.4017Z"
                fill="#FFA55C"
              />
            </svg>
          </a>
          Посмотри, как готовятся наши торты
        </div>
      </div>
    </div>
  </div>
</header>
