.button {
  &__form {
    @include flex-all-center;
    width: 100%;
    background-color: var(--akcentnyy);
    font-weight: 500;
    line-height: 1.6;
    color: var(--nabornyy);
    border-radius: 60px;
    transition: background-color .5s;
    &:hover{
      background-color: var(--hover-button);
    }
  }
}
