.heading {
    &-h1 {
      font-size: 74px;
    }
  
    &-h2 {
      font-size: 42px;
    }
  
    &-h3 {
      font-size: 32px;
    }

  
    &-h1{
      line-height: 0.82;
    }
    &-h2,
    &-h3{
      line-height: 0.9;
    }

  }
  
  .text {
    &-p {
      &-large {
        font-size: 24px;
      }
  
      &-medium {
        font-size: 18px;
      }
  
      &-default {
        font-size: 16px;
      }
  
      &-small {
        font-size: 14px;
      }

      &-large,
      &-medium,
      &-default,
      &-small {
        line-height: 1.5;
      }
    }
  }